* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "TT Hoves";
}

section {
    padding: 0 calc(10.7vw - 17px);
    margin-bottom: 160px;
}

.head {
    background-image: url(./img/html_css_js\ 1.png);
    background-repeat: no-repeat;
    background-size: 40vw;
    background-position: right 58px top 121px;
}

.logo {
    width: 295px;
    margin-top: 37px;
    margin-bottom: 85px;
}

.course_info {
    display: flex;
    flex-wrap: wrap;
    gap: calc(14.6vw - 24px);
    margin-bottom: 76px;
}

.course_info div {
    display: flex;
    flex-direction: column;
}

.title {
font-size: 21px;
line-height: 140%;
}

.subtitle {
font-size: 21px;
font-weight: 700;
line-height: 140%;
}

h1 {
    font-family: "Chava";
    width: calc(49.2vw + 148px);
font-size: calc(4.2vw + 26px);
font-weight: 400;
line-height: 110%;
text-align: left;
margin-bottom: 40px;
}
.jobInfo {
    width: calc(66.5vw + 78px);
font-size: calc(1vw + 17px);
font-weight: 300;
line-height: 37.8px;
text-align: left;
margin-bottom: 20px;
}

.primary {
    background-color:  #6E3ABA;
    border-radius: 12px;
    width: 328px;
    padding: 20px 0 ;
    font-size: 18px;
    font-weight: 500;
    line-height: 117%;
    color: #fff;
    border: none;
    margin-bottom: 20px;
}




.smile {
    width: 210px;
height: 210px;

}

h3.name {
    width: calc(11.7vw + 284px);
margin-bottom: 20px;
font-size:calc(1vw + 14.2px);
font-weight: 600;
line-height: 140%;
text-align: left;
}

.for {
font-size: 27px;
font-weight: 400;
line-height: 140%;
text-align: left;
display: flex;

justify-content: center;
    flex-wrap: wrap;
    gap: 90px 70px;

}
.mem {
    width: calc(13.5vw + 277px);
font-size: calc(1vw + 14.2px);
line-height: 140%;
font-weight: 400;
text-align: left;
}



.header {
    font-size: calc(2.7vw + 24px);
    font-weight: 500;
    line-height: 68.32px;
    
width: calc(48.7vw + 145px);

margin-top: 160px;
margin-bottom: 95px;
}



.bg {
    display: flex;
    flex-direction: column;
    gap: 57px;
    align-items: center;
    background-color:#6E3ABA;
    padding: 84px 0 ;
}

.sell {
font-size: calc(2vw + 26px);
width: calc(38.2vw + 186px);
font-weight: 700;
text-align: center;
line-height: 117%;
color: #fff;
}

.sell_container {
    display: flex;
    gap: calc(5.9vw + 10.3px) ;
    flex-wrap: nowrap;
}

.sell_card .time {
    font-family: "Chava";
font-size: calc(9.3vw + 25px);
font-weight: 400;
line-height: 107%;
text-align: left;
}

.sell_card span {
    display: block;
    font-size: 27px;
    font-weight: 500;
    line-height: 117%;
    text-align: center;
}

.secondary {
    border-color: #fff;
    border-radius: 12px;
    width: 328px;
    padding: 20px 0 ;
    font-size: 18px;
    font-weight: 500;
    line-height: 117%;
    color: #6E3ABA;
    border: 1px solid black;
}






.legendinfo {
    display: flex;
    gap: 51px;

    width: 566px    ;
}

.legendface {
    width: calc(4.1vw + 313px);
    height: calc(10.8vw + 423px);
    
}

.legendinfo h4 {
font-size: calc(1.1vw + 33px);
font-weight: 700;
line-height: 58px;
text-align: left;
margin-bottom: 51px;
}

.legendinfo p {
    width: calc(26.3 + 229px);   
font-size: calc(1vw + 14px);
font-weight: 400;
line-height: 37.8px;
text-align: left;
margin-bottom: calc(5.5vw + 19.2px);
}

.legendconteiner {
    
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: calc(8.8vw - 23px) calc();
}
.skill {
    display: flex;
    flex-direction: column;
}
.skills img {
    width: 36px;
}
.skill span {
font-size: 21px;
line-height: 29.4px;

}






.list h2 {
    width: calc(76.7vw + 40px);
    font-size: calc(2.7vw + 24px);
 
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: left;
    text-transform: uppercase;
    
    }
    .school {
        margin-top: 160px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 90px 120px;
        }
    .school .infoSchool {
        width: 428px ;
    }
    
    .infoSchool p {
        font-size: calc(1vw + 12.3px);
    font-weight: 400;
    line-height: 37.8px;
        }
    
    .school h3 {
        font-size: calc(1vw + 12.3px);
        font-weight: 600;
        line-height: 37.8px;
        text-align: left;
    }



    .diplom {
        margin-top: 173px;
    }
    
     .maindiv {
        display: flex;
        flex-wrap: wrap;
        gap: 19px;
       
    }
    
    .imgdip {
        flex: 1;
    }
    .diplomimg {
        width: 430px;
    height: 300px;
    
    }
    .dipText {
        flex: 2;
    }
    .diplom h4 {
    font-size: calc(2.7vw + 24px);
    font-weight: 500;
    line-height: 68.32px;
    }
    
    .maindiv p {
    font-size: calc(1vw + 14.3px);
    font-weight: 400;
    line-height: 37.8px;
    } 




    .income {
        padding-top: calc(1.3vw + 25.4px);
    }
    
    .verstal {
        display: flex;
        flex-wrap: wrap;
    
    }
    .titleh2 h2 {
    font-size: 58px;
    font-weight: 500;
    line-height: 68.32px;
    }
    
    .paragraf p {
    font-size: calc(1vw + 14.3px);
    font-weight: 400;
    line-height: 37.8px;
    }   
    
    .imgpr {
    width: calc(65.2vw + 116.5px);
    height: calc(20vw + 22px);
    top: calc(9vw - 9.1px);
    left: calc(6.7vw - 1.2px);
    }



    /* rewiew start */

    .rev {
        font-size: 58px;
        font-weight: 500;
        line-height: 68.32px;
        margin-bottom: 40px;
        text-transform: uppercase;
    }



.review p {
font-size: 24px;
font-weight: 400;
line-height: 29.4px;
height: 261px;
width: 305;
}

.review {
    background-color:#F0F7FD;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
}

.youtube {
    padding: 50px 20px;
}

.client  {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 58px 45px 20px ;
font-size: 21px;
font-weight: 400;
line-height: 29.4px;
text-align: left;
}

.client span {
    width: 169px;
    display: block;
}

.client img {
    width: 72px;
    height: 72px;
}

    /* review end */



    /* photoslide start */

    .photoslide h2 {
        font-size: calc(2.6vw + 24.2px);
        font-weight: 500;
        line-height: 68.32px;
    }
    
    .photoslide p {
        width: calc(46.2vw + 157.2px);
    font-size: 27px;
    font-weight: 400;
    line-height: 37.8px;
    }
    
    .photoslide img {
        width: calc(19.7vw + 255px);
    height: calc(19.7vw + 255px);
    }

    /* photoslide end */

    @media ()